:root {
    --variableValue: 5;
    --width: calc(100% / var(--variableValue));
    --randomColor: #fff;
    --color1: #F5F5F5;
    --color2: #29343D;
    --color3: #224444;
}
body {
    background-color: var(--color1);
    margin: 0;
}

.btn {
    background-color: var(--color1);
    color: var(--color2);
    padding: 0.6rem 1rem;
    border: 1.2px solid var(--color2);
    border-radius: 0.3rem;
    width: 160px;
    font-size: 18px;
    
}

.btn:hover {
    background-color: var(--color3);
    color: var(--color1);
    font-size: 18px;
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
}

.btn:active {
    background-color: var(--color3);
    color: var(--color1);
}

#grid-btn {
    background-color: var(--color3);
    color: var(--color1);
}

#grid-btn:hover {
    background-color: var(--color1);
    color: var(--color2);
}

#main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

#grid-btn {
    font-size: 22px;
    margin-bottom: 5rem;
    padding: 0.5rem 1.5rem;
    width: fit-content;
}

#btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#square-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    aspect-ratio: 1/1;
    background-color: var(--randomColor);
    box-shadow: 0 0 0 0.1px black;
    flex: 0 0 var(--width);
}