:root {
    --variableValue: 5;
    --width: calc(100% / var(--variableValue));
    --randomColor: #f5f1e1bb;
    --brighterValue: 0;
    --brighter: calc(100% - var(--brighteValue));
}

#btn {
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto 1rem;
}

#container-main {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;    
}

.square {
    aspect-ratio: 1.2/1;
    background-color: var(--randomColor);
    box-shadow: 0 0 0 0.5px black;
    flex: 0 0 var(--width);
}

.bright90 {
    filter: brightness(90%);
}

.bright80 {
    filter: brightness(80%);
}

.bright70 {
    filter: brightness(70%);
}

.bright60 {
    filter: brightness(60%);
}

.bright50 {
    filter: brightness(50%);
}

.bright40 {
    filter: brightness(40%);
}

.bright30 {
    filter: brightness(30%);
}

.bright20 {
    filter: brightness(20%);
}

.bright10 {
    filter: brightness(10%);
}

.bright0 {
    filter: brightness(0%);
}