:root {
    --variableValue: 5;
    --width: calc(100% / var(--variableValue));
    --randomColor: #f5f1e1bb;
}

#btn {
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 0.5rem 1rem;
    margin: 0.5rem auto 1rem;
}

#container-main {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;    
}

.square {
    aspect-ratio: 1.2/1;
    background-color: var(--randomColor);
    box-shadow: 0 0 0 0.5px black;
    flex: 0 0 var(--width);
}